/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.gt-ad {
  padding: 10px;
  border: 1px solid #ddd;
  font-family: 'Open Sans', sans-serif;

  a {
    padding: 0.8em;
    color: green;
    //color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
  }

  .summary {
    //visibility: hidden;
    display: none;
  }

  .body_raw {
    padding: 1.0em;
  }

  .features_raw {
    //background: gainsboro;
    color: darkgray;
    font-size: 14px;
    padding: 1.0em;
    height: 100px;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    //-webkit-column-break-inside: avoid;
  }

}


